@model BugHelper.Models.SoruCevapModel
@using (Ajax.BeginForm("SoruOyla", "Sorular", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "oyla" }))
{

    <input type="hidden" value="@Model.SoruId" name="soruId" />
    if (Model.SoruCevapContext.ArtiOy.Any(i => i.Soru.Id == Model.SoruId && i.ArtiOySahibi == User.Identity.Name)) //eğer kullanıcı açtığı sayfadaki soruya daha önce artı oy vermişse
    {
        <button type="submit" value="arti" name="oy"><img src="https://i.hizliresim.com/kMa04m.png" alt="arti-oy-verildi" /></button>
        <button type="submit" value="eksi" name="oy"><img src="https://img.icons8.com/ios/50/000000/thumbs-down.png" alt="eksi-oy-normal"></button>
    }
    else if (Model.SoruCevapContext.EksiOy.Any(i => i.Soru.Id == Model.SoruId && i.EksiOySahibi == User.Identity.Name)) //eğer kullanıcı açtığı sayfadaki soruya daha önce eksi oy vermişse
    {
        <button type="submit" value="arti" name="oy" onclick="oyVerildi()"><img src="https://img.icons8.com/ios/50/000000/thumb-up.png" alt="arti-oy-normal"></button>
        <button type="submit" value="eksi" name="oy"><img src="https://i.hizliresim.com/jqaAEJ.png" alt="eksi-oy-verildi" /></button>
    }
    else //eğer kullanıcı açtığı sayfadaki soruya daha önce oy vermemişse
    {
        <button type="submit" value="arti" name="oy"><img src="https://img.icons8.com/ios/50/000000/thumb-up.png" alt="arti-oy-normal"></button>
        <button type="submit" value="eksi" name="oy"><img src="https://img.icons8.com/ios/50/000000/thumbs-down.png" alt="eksi-oy-normal"></button>
    }
}
